:root {
  --hero-main-color: #E5E7Eb;
  --dark-background: #1F2937;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.placeholder {
  border: 1px solid var(--dark-background);
  height: 500px;
  width: 100%;

}


.header, .footer {
  background: var(--dark-background);
  color: var(--hero-main-color);
}

.footer {
  height: 145px;
}
